<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wzj.scheduler.mapper.monitJobMapper.MySQLMonitorJobMapper">
    <insert id="MySQLMonitorResult">
        INSERT INTO mysql_data_monitor (
            database_name,
            table_name,
            field_name,
            field_null_rate
        ) VALUES (
                     #{databaseName},
                     #{tableName},
                     #{fieldName},
                     #{fieldNullRate}
                )
    </insert>
    <select id="MySQLMonitorSelect" resultType="org.wzj.scheduler.bean.MonitorDetail">
        SELECT
            count(1) AS TotalAll,
            count(#{fieldName}) AS TotalNotNull,
            count(1) - count(#{fieldName}) AS TotalNull,
            100.0 * count(#{fieldName}) / count(1) AS fieldNullRate
        FROM ${tableName}
    </select>
</mapper>